<main class="grid place-items-center px-4 py-20">
	<section class="max-w-[650px] text-center">
		<img
			class="mx-auto mb-10 w-full max-w-[450px]"
			src="assets/images/interfaces/illustrations/building.svg"
			alt="En construcción" />
		<h1 class="mb-3 text-balance text-3xl text-primary-700">No eres tú, somos nosotros</h1>
		<p class="mb-7 max-w-[75ch] text-pretty font-light text-gray-600">
			<strong>Aun no hemos terminado esta funcionalidad</strong>. Te pedimos perdón por los inconvenientes presentados.
			Intenta de nuevo mas tarde, tal vez ya hayamos terminado.
		</p>

		<a mat-stroked-button color="accent" routerLink="..">Volveré despues</a>
	</section>
</main>
