<div class="h-full min-h-screen w-[300px] bg-gradient-to-l from-gray-100 to-white shadow-sm">
	<div class="relative mb-4 grid place-items-center border-b border-gray-200 bg-gray-100 px-4 pb-6 pt-10">
		<mat-icon class="absolute right-2 top-4 cursor-pointer text-sm text-gray-500" (click)="onClosedMenu()">close</mat-icon>
		<a class="transition-transform hover:scale-105" routerLink="" (click)="onClosedMenu()">
			<img src="assets/images/brand/logo_smartsoftlabs.png" alt="SmartSoftLabs Logo" width="200" />
		</a>
	</div>
	<div class="flex flex-col">
		<a class="item-menu" routerLink="import-csv" routerLinkActive="active" (click)="onClosedMenu()"
			><mat-icon>attach_file</mat-icon> Analizar CSV</a
		>
		<a class="item-menu" routerLink="crud" routerLinkActive="active" (click)="onClosedMenu()"
			><mat-icon>description</mat-icon> Formulario</a
		>
	</div>
</div>
