<main class="grid min-h-screen place-items-center px-4 py-20">
	<section class="max-w-[650px] text-center">
		<img
			class="mx-auto mb-10"
			src="assets/images/brand/logo_smartsoftlabs.png"
			alt="Logo de SmartSoft Labs"
			width="150"
			style="view-transition-name: smartsoftlabs" />
		<img
			class="mx-auto mb-10 w-full max-w-[450px]"
			src="assets/images/interfaces/illustrations/not_found.svg"
			alt="Imagen pagina no encontrada" />
		<h1 class="mb-3 text-balance text-3xl text-primary-700">Estás intentando llegar a mundos nuevos</h1>
		<p class="mb-7 max-w-[75ch] text-pretty font-light text-gray-600">
			La página a la que intenta acceder no existe. Por favor verifique la URL de la página o intente volver a la página
			anterior.
		</p>

		<a mat-stroked-button color="primary" routerLink="..">Volver atrás</a>
		<a mat-stroked-button color="accent" routerLink="..">Volver atrás</a>
		<a mat-stroked-button color="warn" routerLink="..">Volver atrás</a>
	</section>
</main>
